.container{
  text-align: center;
  width: 70%;
  margin: auto;
}
.dice{
  text-align: center;
  display: inline-block;
}

body{
  background-color: #393E46;
}
h1{
  color:  #4ECCA3;
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  text-shadow: 5px 0 #232931;
}
p{
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}
img{
  width: 80%;
}
footer{
  color: #EEEEEE;
  margin-top: 25%;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;


}
